body {
    width: 100%;
    height: 100%;
    background: #9c9c9c;
    margin: 0;
}

.button{
    background: #4d4d4d;
    border: 1px solid #204d10;
    overflow: hidden;
    display: block;
    text-align: center;
    line-height: 8px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.buttonDel{
    background: #e4000f;
    border: 1px solid #204d10;
    overflow: hidden;
    display: block;
    text-align: center;
    line-height: 8px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
    margin-bottom: 10px;
    padding: 10px;
    font-size: 13px;
}
.buttonDel:hover{
    background-color: #c4000f;
}

.button:hover {
    background-color: #737373;
}

.userLine{
    position: relative;
    margin: 0px 0px 0px 0px;
    height: 100px;
    width: auto;
    background: #737373;
}

.greating{
    margin: 5px;
    position: absolute;
    left: 10px;
    width: auto;

}

.changeLanguage{
    margin: 10px;
    position: absolute;
    width: 100px;
    left: 90%;
}

.menu1{
    position: relative;
    height: 500px;
    width: 150px;
    left: 10px;
}

.search{
    position: absolute;
    left: 300px;
    margin: 10px;
    width: 200px;
}

table{
    position: absolute;
    top: 110px;
    left: 200px;
    margin: auto;
}
td{
    text-align: center;
}

.styled-select select{
    width: 100%;
    margin-bottom: 10px;
    background: rgba(0, 0, 0, 0.3);
    border: none;
    outline: none;
    padding: 10px;
    font-size: 13px;
    color: #fff;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
    border: 1px solid rgba(0,0,0,0.3);
    border-radius: 4px;
    box-shadow: inset 0 -5px 45px rgb(0, 0, 0), 0 1px 1px rgb(40, 40, 40);
}

input {
    width: 100%;
    margin-bottom: 10px;
    background: rgba(0, 0, 0, 0.3);
    border: none;
    outline: none;
    padding: 10px;
    font-size: 13px;
    color: #fff;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
    border: 1px solid rgba(0,0,0,0.3);
    border-radius: 4px;
    box-shadow: inset 0 -5px 45px rgb(0, 0, 0), 0 1px 1px rgb(40, 40, 40);
}